@using ClientDependency.Core.Mvc

@{
    ViewBag.Title = "Upload Demo";

    Html.RequiresCss("Bootstrap/bootstrap.min.css", "Content", 2);
    Html.RequiresCss("Bootstrap/bootstrap-responsive.min.css", "Content", 3);
    Html.RequiresCss("FileUpload/jquery.fileupload.css", "Content", 5);
    Html.RequiresCss("FileUpload/jquery.fileupload-ui.css", "Content", 6);
    Html.RequiresCss("FileUpload/demo.css", "Content", 7);

    Html.RequiresJs("jquery-1.11.0.js", "Scripts", 1);
    Html.RequiresJs("jquery-migrate-1.2.1.js", "Scripts", 2);
    Html.RequiresJs("jquery-ui-1.9.2.custom.js", "Scripts", 3);
    Html.RequiresJs("FileUpload/tmpl.min.js", "Content", 5);
    Html.RequiresJs("Bootstrap/bootstrap.min.js", "Content", 6);
    Html.RequiresJs("FileUpload/jquery.iframe-transport.js", "Content", 10);
    Html.RequiresJs("FileUpload/jquery.fileupload.js", "Content", 10);
    Html.RequiresJs("FileUpload/jquery.fileupload-process.js", "Content", 11);
    Html.RequiresJs("FileUpload/jquery.fileupload-ui.js", "Content", 30);
    Html.RequiresJs("FileUpload/jquery.fileupload-jquery-ui.js", "Content", 31);
    Html.RequiresJs("FileUpload/locale.js", "Content", 90);
    Html.RequiresJs("FileUpload/main.js", "Content", 99);
}

<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <form id="fileupload" action="/Upload/UploadHandler.ashx" method="POST" enctype="multipart/form-data">
    @*<form id="fileupload" action="@Url.Action("UploadFiles")" method="POST" enctype="multipart/form-data">*@

        <div class="fileupload-buttonbar">
            <div class="fileupload-buttons">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="fileinput-button">
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="start">Start upload</button>
                <button type="reset" class="cancel">Cancel upload</button>
                <button type="button" class="delete">Delete</button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="fileupload-progress fade" style="display:none">
                <!-- The global progress bar -->
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
    </form>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress"></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="start" disabled>Start</button>
            {% } %}
            {% if (!i) { %}
            <button class="cancel">Cancel</button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

    <!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
            </p>
            {% if (file.error) { %}
            <div><span class="error">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            <button class="delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>Delete</button>
            <input type="checkbox" name="delete" value="1" class="toggle">
        </td>
    </tr>
    {% } %}
</script>

<script type="text/javascript">

    $(document).ready(function () {


        $(function () {
            'use strict';

            // Initialize the jQuery File Upload widget:
            $('#fileupload').fileupload();

            $('#fileupload').fileupload('option', {
                maxFileSize: 9999999999,
                //resizeMaxWidth: 1920,
                //resizeMaxHeight: 1200,
                maxChunkSize: 1024 * 512, //512 KB 2 MB
                singleFileUploads: 10,
                autoUpload: false
            });
        });

    });

    function ToggleNextElement(sender) {

        var elementToToggle = $(sender).parent().next().children();
        var nextElement = $(elementToToggle).parent().next().children();

        if (elementToToggle.attr('disabled')) {
            elementToToggle.removeAttr('disabled');
        } else {
            elementToToggle.attr('disabled', 'disabled');
        }

        //Para o caso de desactivar o primeiro quando os outros estao activos
        if (elementToToggle.attr('disabled')) {
            elementToToggle.removeAttr('checked');
            nextElement.attr('disabled', 'disabled');
        }
        
    }

    function MakeItAFileUpload(sender) {

        $('#fileupload').fileupload('add', { files: $(sender).prop("files") });

        $(sender).next().attr('value', $(sender).prop("files")[0].name);

    }
</script>

