@using ClientDependency.Core.Mvc

@{
    ViewBag.Title = "Upload Demo";

    Html.RequiresCss("Bootstrap/bootstrap.min.css", "Content", 2);
    Html.RequiresCss("Bootstrap/bootstrap-responsive.min.css", "Content", 3);
    Html.RequiresCss("FileUpload/jquery.fileupload-ui.css", "Content", 5);

    Html.RequiresJs("jquery-1.11.0.js", "Scripts", 1);
    Html.RequiresJs("jquery-migrate-1.2.1.js", "Scripts", 2);
    Html.RequiresJs("jquery-ui-1.9.2.custom.js", "Scripts", 3);
    Html.RequiresJs("FileUpload/tmpl.min.js", "Content", 5);
    Html.RequiresJs("Bootstrap/bootstrap.min.js", "Content", 6);
    Html.RequiresJs("FileUpload/jquery.iframe-transport.js", "Content", 10);
    Html.RequiresJs("FileUpload/jquery.fileupload.js", "Content", 10);
    Html.RequiresJs("FileUpload/jquery.fileupload-ui.js", "Content", 30);
    Html.RequiresJs("FileUpload/locale.js", "Content", 90);
    Html.RequiresJs("FileUpload/fileuploader.main.js", "Content", 99);
}

<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
@*<form id="fileupload" action="/Upload/UploadHandler.ashx" method="POST" enctype="multipart/form-data">*@
<form id="fileupload" action="@Url.Action("UploadFiles")" method="POST" enctype="multipart/form-data">
    <div class="row fileupload-buttonbar">
        <div class="span7">
            @*<span>*@@*class="btn btn-success fileinput-button"*@
                @*<i class="icon-plus icon-white"></i>*@
                @*<span>Add files...</span>*@
                <input type="file" name="files[]" multiple>
            @*</span>*@
            Quero usar ficheiro de assinatura
            <input type="checkbox" id="useSignatureFile" name="useSignatureFile" onchange="ToggleSignatureFiles();" />
        </div>
    </div>
    <br>
    <table class="table table-striped" id="filesTables">
        <tr>
            <th>File</th>
            <th>Description</th>
            <th>Confidential</th>
            <th class="sign-col" style="display:none">Signature File</th>
            <th colspan="2">Progress</th>
        </tr>
        <tbody class="files"></tbody>
    </table>
    <div class="pull-right fileupload-buttonbar">
        <button type="button" class="start">
            @*<i class="icon-upload icon-white"></i>*@
            <span>Upload</span>
        </button>
    </div>
</form>


<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="description"><input type="text" id="fileDescription" name="fileDescription[]" class="text-box" value="{%=file.name%}" /></td>
        <td><input type="checkbox" name="saveToCompanyDocs[]" class="text-box"/></td>
        {% if (file.error == 'Internal Server Error') { %}
            {% if($("#useSignatureFile").prop('checked')){ %}
        <td class="sign-col">
            {% }else{ %}
        <td class="sign-col" style="display:none">
            {% } %}
            <input type="file" id="certificateFile" name="certificateFile[]" onchange="AddToUploadList(this);" />
            <input type="hidden" name="certificateFileName[]" />
            <input type="hidden" name="maxChunkSize[]" value="{%= GetChunkSize() %}" />
        </td>
        <td class="error">
            <span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
            {%= file.error = false %}
        </td>
        <td @*class="cancel"*@>
            {%= appendFile(o.files[i])  %}
            <button class="btn btn-warning" type="button" onclick="Cenas(this, retryFileList[retryFileList.length-1]);">
                <i class="icon-repeat icon-white"></i>
                <span>{%=locale.fileupload.retry%}</span>
            </button>
        </td>
        {% } else if (file.error) { %}
        @*{% if(file.error) { %}*@
            {% if($("#useSignatureFile").prop('checked')){ %}
        <td>
            {% }else{ %}
        <td class="sign-col" style="display:none">
            {% } %}
        </td>
        <td class="error"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        <td class="cancel">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-remove icon-white"></i>
            </button>
        </td>
        {% } else if (o.files.valid && !i) { %}
            {% if($("#useSignatureFile").prop('checked')){ %}
        <td class="sign-col">
            {% }else{ %}
        <td class="sign-col" style="display:none">
            {% } %}
            <input type="file" id="certificateFile" name="certificateFile[]" onchange="AddToUploadList(this);" />
            <input type="hidden" name="certificateFileName[]" />
            <input type="hidden" name="maxChunkSize[]" value="{%= GetChunkSize() %}" />
        </td>
        <td>
            <span class="label ready">{%=locale.fileupload.ready%}</span>
            <div class="progress progress-success progress-striped active readyProgress" style="text-align: center ; display:none">
                <div class="bar" style="width:0%;" />
            </div>
        </td>
        <td class="start" style="display:none">
            {% if (!o.options.autoUpload) { %}
            <button class="btn btn-primary">
                <i class="icon-upload icon-white"></i>
            </button>
            {% } %}
        </td>
        <td class="cancel">
            {% if (!i) { %}
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-remove icon-white"></i>
            </button>
            {% } %}
        </td>
        {% } else { %}
        <td></td>
        {% } %}
    </tr>
    {% } %}
</script>

<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        @*{% if (file.error) { %}
        <td class="name" colspan="3"><span>{%=file.name%}</span></td>*@
        @*<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>*@
        @*{% if($("#useSignatureFile").prop('checked')){ %}
        <td>
            {% }else{ %}
        <td class="sign-col" style="display:none">
            {% } %}
        </td>
        <td class="error">
            <span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
        </td>*@
        @*{% } else if(file.isSignatureFile == 'yes') { %}*@
        {% if(file.isSignatureFile == 'yes') { %}
        @*mostra nada*@
        {% } else { %}
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="description"><span>{%=file.description%}</span></td>
        <td class="description"><span>{%=file.saveToCompanyDocs%}</span></td>
            {% if($("#useSignatureFile").prop('checked')){ %}
        <td class="sign-col">
            {% }else{ %}
        <td class="description sign-col" style="display:none">
            {% } %}
            <span>{%= file.associatedSignatureFile == '' ? locale.NA : file.associatedSignatureFile %}</span>
        </td>
            <td colspan="2"><span class="label btn-success">{%=locale.fileupload.success%}</span></td>
        {% } %}
    </tr>
    {% } %}
</script>


